<!DOCTYPE html>
<html>
<head>
    <!--关于我们-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>华顺机电</title>
    <link href="/newStatic/picture/icon.ico" rel="shortcut icon">
    <!--  <link rel='stylesheet' href='/newStatic/css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/font-awesome.min.css' type='text/css' media='all' />-->
    <link rel='stylesheet' href='https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/newStatic/css/mystyle.css" type="text/css" media="all" />
    <link rel='stylesheet' href='/newStatic/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/buttons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/index.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/lightgallery.css' type='text/css' media='all' />
    <!--[if lt IE 9]>
<!--    <script src="/newStatic/js/html5shiv.js"></script>
    <script src="/newStatic/js/respond.min.js"></script>-->
    <![endif]-->
    <!--[if IE 8]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }
    </style>
    <![endif]-->
    <!--[if IE 7]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }

    </style>
    <![endif]-->
    <!--[if IE 6]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }
    </style>
    <![endif]-->
    <!--[if IE 5]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }
    </style>
    <![endif]-->



    <script type='text/javascript'>
        /* <![CDATA[ */
        var onepress_js_settings = { "onepress_disable_animation": "", "onepress_disable_sticky_header": "", "onepress_vertical_align_menu": "", "hero_animation": "flipInX", "hero_speed": "5000", "hero_fade": "750", "hero_duration": "5000", "is_home": "", "gallery_enable": "1" };
        /* ]]> */
    </script>


    <!--<script type='text/javascript' src='/newStatic/js/jquery.js'></script>
    <script type='text/javascript' src='/newStatic/js/myjs.js'></script>
    <script type='text/javascript' src='/newStatic/js/jquery-migrate.min.js'></script>-->

</head>

<body class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-4 wp-custom-logo sticky-header no-header-transparent">
<div id="page" class="hfeed site" v-cloak>
    <!--头部-->
    <header id="masthead" class="site-header fixed" role="banner">
        <div class="container">
            <!--logo-->
            <div class="site-branding">
                <div class="site-brand-inner has-logo-img no-desc">
                    <div class="site-logo-div">
                        <a href="/" class="custom-logo-link"><img  src="/newStatic/picture/logo3.png" class="custom-logo" alt="佰思杰科技" /></a>
                    </div>
                </div>
            </div>
            <!--end logo-->
            <!--导航-->
            <div class="header-right-wrapper">
                <a href="#0" id="nav-toggle">Menu<span></span></a>
                <nav id="site-navigation" class="main-navigation">
                    <ul class="onepress-menu">
                        <li v-for="list in listTop" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                            <a onclick="changeHtml(this)">{{list.name}}</a>
                            <input type="hidden" v-bind:value="list.id">
                        </li>
                    </ul>
                </nav>
            </div>
            <!--end 导航 -->
        </div>
    </header>
    <!--end 头部-->
    <!--中间内容-->
    <div id="content" class="site-content">




        <main id="main" class="site-main" role="main">
            <!--banner图-->
            <section id="hero" data-images="[&quot;/Content/banner/观点.jpg&quot;]" class="hero-slideshow-wrapper hero-slideshow-normal">
                <!--加载中图标-->
                <div class="slider-spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <!--banner图文字-->
                <div id="bannerText" class="container" style="padding-top: 23%; padding-bottom: 10%;color:#fff">
                    <div class="hero__content hero-content-style1" style="max-height:80%">
                        <h2 class="hero-large-text"></span></h2>
                    </div>
                </div>
            </section>
            <div id="info" style="display: none"  class="section-title-area">
                <div >
                    <h2 class="section-title">{{htmlTitle}}</h2>
                    <div style="text-align:left" class="service-content" v-html="htmlInfo"></div>
                </div>
            </div>
            <div id="zhuti" class="content">
                <!--公司介绍-->
                <section v-for="(info,index) in listInfo" v-if="index==0"  id="About" class="section-about section-padding onepage-section">
                    <div class="container">
                        <div class="section-title-area">
                            <h2 class="section-title">{{info.name}}</h2>
                        </div>
                        <div class="row">
                            <div v-for="infoTwo in info.infos"  class="col-lg-6 col-sm-6  wow">
                                <div class="about-image">
                                    <a href="javascript:void (0)" v-on:click="toInfoPage(infoTwo.id)">

                                        <img style="width:640px;height:auto;" :src="'/kaptcha/'+infoTwo.iconPath" class="attachment-onepress-medium size-onepress-medium wp-post-image" sizes="(max-width: 640px) 100vw, 640px" />
                                    </a>
                                </div>
                                <a href="javascript:void (0)" v-on:click="toInfoPage(infoTwo.id)">
                                    <h3 class="itemAlign">{{infoTwo.title}}</h3>
                                </a>
                                <p></p>

                            </div>
                            </div>
                        </div>
                </section>
                <!--end 公司介绍-->
                <!--合作伙伴-->
                <section v-for="(info,index) in listInfo" v-if="index==1"  :id="info.id" class="section-team section-padding section-meta onepage-section">
                    <div class="container">
                        <div class="section-title-area">
                            <h2 class="section-title">{{info.name}}</h2>
                        </div>
                        <div class="caseWrap" id="cases">
                            <div class="team-members row team-layout-4">
                                <div v-for="infoTwo in info.infos" class="team-member wow ">
                                    <div class="member-thumb">
                                        <a>
                                            <img :src="'/kaptcha/'+infoTwo.iconPath" alt="">
                                        </a>
                                    </div>
                                    <a><h5>{{infoTwo.title}}</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--end 合作伙伴-->
                <!--公司新闻-->
                <section  v-for="(info,index) in listInfo" v-if="index==2" :id="info.id" class="section-news section-padding onepage-section">
                    <div class="container">
                        <div class="section-title-area">
                            <p></p>
                            <h2 class="section-title">{{info.name}}</h2>
                        </div>
                        <div class="section-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="blog-entry wow slideInUp">
                                        <!--新闻列表-->
                                        <article v-for="(infoTwo,index1) in info.infos" v-if="index1 >= (currentPage-1)*pageSize && index1<=currentPage*pageSize-1" id="post-37" class="list-article clearfix post-37 post type-post status-publish format-standard has-post-thumbnail hentry category-apps category-one-page category-responsive tag-export article-height">
                                            <div class="list-article-thumb">
                                                <a href="javascript:void (0)" v-on:click="toInfoPage(infoTwo.id)">
                                                    <img width="130" height="75" :src="'/kaptcha/'+infoTwo.iconPath" class="attachment-onepress-blog-small size-onepress-blog-small wp-post-image" style="max-height:75px" />

                                                </a>
                                            </div>
                                            <div class="list-article-content">
                                                <header class="entry-header">
                                                    <h2 class="entry-title"><a href="javascript:void (0)" v-on:click="toInfoPage(infoTwo.id)">{{infoTwo.title}}</a></h2>
                                                </header>
                                                <div class="entry-excerpt">
                                                    <p class="cont">{{infoTwo.desc}}</p>
                                                </div>
                                            </div>
                                        </article>
                                        <!--page ==S -->
                                        <div style="text-align:center;" class="PageBtn">
                                            <a id="shang" class="btn btn-theme-primary-outline" style="display: none" href="javascript:void (0)" v-on:click="toPage(2)">上一页</a>
                                            <a id="xia" class="btn btn-theme-primary-outline" href="javascript:void (0)" v-on:click="toPage(1)">下一页</a>

                                        </div>
                                        <!--page ==E -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--end 公司新闻-->
                <!-- 加入我们-->
                <section  v-for="(info,index) in listInfo" v-if="index==3"  :id="info.id" class="section-contact section-padding  section-meta onepage-section">
                    <div class="container">
                        <div class="section-title-area">
                            <h2 class="section-title">{{info.name}}</h2>
                            <p></p>
                            <p></p>
                            <div v-for="infoTwo in info.infos" v-if="index==3" class="service-content" v-html="infoTwo.content" style="text-align:left">
                            </div>
                        </div>
                    </div>
                </section>
                <!--end 加入我们-->
                <!--联系我们-->
                <section v-for="(info,index) in listInfo" v-if="index==4" :id="info.id" class="section-contact section-padding onepage-section">
                    <div class="container">
                        <div class="section-title-area">
                            <h2 class="section-title">{{info.name}}</h2>
                        </div>
                        <div class="service-content" v-for="infoTwo in info.infos" v-if="index==4"  v-html="infoTwo.content">
                        </div>
                    </div>
                </section>
                <!--end 联系我们-->
            </div>
        </main>


    </div>
    <!-- end 中间内容 -->
    <!--底部-->
    <footer class="site-footer">
        <div class="footer-connect">
            <div class="container">
                <div class="row">
                    <div class="footer-left col-sm-8" style="z-index:9999;">
                        <dl v-for="list in listBottom">
                            <dt>
                                <a  v-on:click="changeHtmlInfo(list,null)">{{list.name}}</a>
                            </dt>
                            <dd v-for="list1 in list.infos">
                                <a  v-on:click="changeHtmlInfo(list,list1)">
                                    {{list1.title}}
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <div class="footer-left col-sm-4">

                            <div class="share col-sm-5" style="text-align:center;margin:15px">
                                <img style="margin:0 auto;display:block" :src="'/kaptcha/'+setting.filePath" />
                                {{setting.name}}
                            </div>
                        </div>
                        <div class="ServiceHotline" style="font-weight:bold;font-size:18px">{{setting.descs[0]}}</div>
                    </div>
                </div>
            </div>
        </div>
        <section class="copyright" style="font-size:0.75em;color:#ccc">{{setting.descs[1]}}</section>
        <section class="copyright" style="font-size:0.75em;color:#ccc"><a href="http://www.beian.miit.gov.cn/" target="_blank">{{setting.descs[2]}}</a></section>

    </footer>
    <!--end 底部-->
</div><!-- #page -->
<div id="notsupport" style="display:none; text-align:center;">很抱歉，本网站不支持IE8 及以下版本的IE浏览器</div>
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type='text/javascript' src='/newStatic/js/plugins.js'></script>
<script type='text/javascript' src='http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/newStatic/js/isotope.pkgd.min.js'></script>
<script type='text/javascript' src='/newStatic/js/jquery.superslide.2.1.1.js'></script>
<script type='text/javascript' src='/newStatic/js/theme.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="/newStatic/js/plugin.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?721d35f06ef55f9520c9c87094e876e1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>

<!--Banner和文字-->
<script type="text/javascript">
    (function () {
        var titles = JSON.parse(sessionStorage.getItem("listTop"));
        var id=getUrlParms('id');
        var path='';

        for(var j=0;j<titles.length;j++){
            if(titles[j].id==id){
                path='[&quot;/kaptcha/'+titles[j].filePath+'&quot;]';
                break;
            }
        }
        //Banner图
        var bannerDiv = document.getElementById("hero");
        var bannerIllustration =path;
        bannerDiv.setAttribute('data-images', decodeHtml(bannerIllustration));

        //Banner文字
        var bannerText = '',
            containerDiv = document.getElementById("bannerText"),
            decodeBannerText = decodeHtml(bannerText);
        if (containerDiv != null && containerDiv != undefined && decodeBannerText != '') {
            decodeBannerText = decodeBannerText.replace(new RegExp("<p>", "gm"), "").replace(new RegExp("</p>", "gm"), "");
            decodeBannerText = decodeBannerText.replace(new RegExp("<a href=", "gm"), "</p><a href=");
            containerDiv.innerHTML = containerDiv.innerHTML + decodeBannerText;
        }

        //bodyInnerHtml
        var bodyInnerHTML = document.body.innerHTML;
        document.body.innerHTML = bodyInnerHTML.replace(/\ufeff/g, '');
    })();

    function decodeHtml(s) {
        var HTML_DECODE = {
            "&lt;": "<",
            "&gt;": ">",
            "&amp;": "&",
            "&nbsp;": " ",
            "&quot;": "\"",
            "&copy;": "",
            // Add more
        };

        var REGX_HTML_ENCODE = /"|&|'|<|>|[\x00-\x20]|[\x7F-\xFF]|[\u0100-\u2700]/g;

        var REGX_HTML_DECODE = /&\w+;|&#(\d+);/g;

        var REGX_TRIM = /(^\s*)|(\s*$)/g;

        s = (s != undefined) ? s : "";
        return (typeof s != "string") ? s :
            s.replace(REGX_HTML_DECODE,
                function ($0, $1) {
                    var c = HTML_DECODE[$0];
                    if (c == undefined) {
                        // Maybe is Entity Number
                        if (!isNaN($1)) {
                            c = String.fromCharCode(($1 == 160) ? 32 : $1);
                        } else {
                            c = $0;
                        }
                    }
                    return c;
                });
    };
</script>

<!--视频-->
<script type="text/javascript">
    var videoIcon = document.getElementById("video_icon");
    var closeIcon = document.getElementById("close_Icon");
    var light = document.getElementById("light");
    var embed = document.getElementsByTagName('embed')[0];
    var video = document.getElementsByTagName('video')[0];

    //打开弹出层
    if (videoIcon != null) {
        videoIcon.onclick = function (e) {
            var point = getPointerPosition(e);  //获取鼠标点击按钮的位置，将其作为弹出层的top值
            light.style.top = point.top + "px";
            light.style.height = document.body.clientHeight * 0.9 + "px";
            embed.style.height = document.body.clientHeight * 0.86 + "px";
            document.getElementById('light').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
            //video.play();
        }
    }

    //关闭弹出层
    if (closeIcon != null) {
        closeIcon.onclick = function () {
            document.getElementById('light').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
            //video.pause();
        }
    }

    //暂停/播放
    if (video != null) {
        video.onclick = function () {
            if (video.paused)
                video.play();
            else
                video.pause();
        }
    }

    //获取鼠标点击位置
    function getPointerPosition(e) {

        var obj = e.currentTarget || document.activeElement;
        var position = {
            left: e.pageX || (e.clientX + (document.documentElement.scrollLeft || document.body.scrollLeft)),
            top: e.pageY || (e.clientY + (document.documentElement.scrollTop || document.body.scrollTop))
        };
        return position;
    }
</script>
<script>
    var showMany=getUrlParms('showMany');
    var url;
    var id=getUrlParms('id');
    var info=getUrlParms('info');
    var vm = new Vue({
        el:"#page",
        data:{
            listTop:[],
            listBottom:[],
            listInfo:[],
            titlePath:"",
            htmlTitle:"",
            htmlInfo:"",
            pageCount:0,
            pageSize:2,
            currentPage:1,
            setting:'',
            titleName:''
        },
        created:function () {
            this.dataTableList();
            this.setting = JSON.parse(sessionStorage.getItem("setting"));
            this.listTop = JSON.parse(sessionStorage.getItem("listTop"));
            this.listBottom = JSON.parse(sessionStorage.getItem("listBottom"));
        },
        mounted:function () {

        },
        methods:{
            dataTableList:function () {
                let dataStr = {
                    id:id
                };
                url="/web/list";
                ajax.data("post",true,url,"json",dataStr,function (data) {
                    vm.listInfo=data.data.infos
                    for(var j=0;j<data.data.infos.length;j++){
                        if (data.data.infos[j].desc=='gsdt'){
                            vm.pageCount=data.data.infos[j].infos.length;
                            vm.titleName=data.data.title.desc
                        }
                    }
                    vm.$nextTick(function () {
                        for(var j=0;j<vm.listInfo.length;j++){
                            if (info!=null){
                                if (vm.listInfo[j].id==info){
                                    var infoId='#'+info
                                    if (showMany!=null){
                                        toInfoPage(showMany)
                                    }else {
                                        document.getElementById(info).scrollIntoView(true);
                                    }
                                }
                            }
                        }
                    })
                })
            },
        },
    })
    toInfoPage = function (id) {
        let dataStr = {
            id:id
        };
        var info= document.getElementById('info');
        info.style.display="block";
        document.getElementById('zhuti').style.display="none"
        url="/web/info";
        ajax.data("post",true,url,"json",dataStr,function (data) {
            var i=data.data.info;
            vm.htmlTitle=i.title;
            vm.htmlInfo=i.content;
            vm.titlePath='[&quot;/kaptcha/'+data.data.title.filePath+'&quot;]';
        })
    };

    toPage = function (num) {//公司新闻分页

        var page= vm.pageCount/vm.pageSize;
        $('#xia').addClass("xiaClass");
        $('#shang').addClass("shangClass");
        $('.shangClass').show();
        if (num==1){//下一页
            if (page>vm.currentPage){
                vm.currentPage=vm.currentPage+1;
            }
            if(page<=vm.currentPage) {
                $('.xiaClass').hide()
            }
        }else {//上一页
            $('.xiaClass').show();
            if (vm.currentPage>1){
                vm.currentPage=vm.currentPage-1;
            }
            if (vm.currentPage<=1){
                $('.shangClass').hide()
            }
        }
        return false;
    }

</script>