<!DOCTYPE html>
<html>
<head>
    <!--服务-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>华顺机电</title>
    <link href="/newStatic/picture/icon.ico" rel="shortcut icon">
    <link rel='stylesheet' href='/newStatic/css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/newStatic/css/mystyle.css" type="text/css" media="all" />
    <link rel='stylesheet' href='/newStatic/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/buttons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/index.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/newStatic/css/lightgallery.css' type='text/css' media='all' />

    <!--[if lt IE 9]>
    <script src="/newStatic/js/html5shiv.js"></script>
    <script src="/newStatic/js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 8]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }
    </style>
    <![endif]-->
    <!--[if IE 7]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }
    </style>
    <![endif]-->
    <!--[if IE 6]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }
    </style>
    <![endif]-->
    <!--[if IE 5]>
    <style>
        #page{
            display:none;
        }
        #notsupport{
            display:block !important;
        }
    </style>
    <![endif]-->

    <script type='text/javascript'>
        /* <![CDATA[ */
        var onepress_js_settings = { "onepress_disable_animation": "", "onepress_disable_sticky_header": "", "onepress_vertical_align_menu": "", "hero_animation": "flipInX", "hero_speed": "5000", "hero_fade": "750", "hero_duration": "5000", "is_home": "", "gallery_enable": "1" };
        /* ]]> */
    </script>


    <script type='text/javascript' src='/newStatic/js/jquery.js'></script>
    <script type='text/javascript' src='/newStatic/js/myjs.js'></script>
    <script type='text/javascript' src='/newStatic/js/jquery-migrate.min.js'></script>

</head>

<body class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-4 wp-custom-logo sticky-header no-header-transparent">
<div id="page" class="hfeed site" v-cloak>
    <!--头部-->
    <header id="masthead" class="site-header fixed" role="banner">
        <div class="container">
            <!--logo-->
            <div class="site-branding">
                <div class="site-brand-inner has-logo-img no-desc">
                    <div class="site-logo-div">
                        <a href="/" class="custom-logo-link"><img  src="/newStatic/picture/logo3.png" class="custom-logo" alt="华顺机电" /></a>
                    </div>
                </div>
            </div>
            <!--end logo-->
            <!--导航-->
            <div class="header-right-wrapper">
                <a href="#0" id="nav-toggle">Menu<span></span></a>
                <nav id="site-navigation" class="main-navigation">
                    <ul class="onepress-menu">
                        <li v-for="list in listTop" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
                            <a onclick="changeHtml(this)">{{list.name}}</a>
                            <input type="hidden" v-bind:value="list.id">
                        </li>
                    </ul>
                </nav>
            </div>
            <!--end 导航 -->
        </div>
    </header>
    <!--end 头部-->
    <!--中间内容-->
    <div id="content" class="site-content">


        <main id="main" class="site-main" role="main">
            <!--banner图-->
            <section id="hero" data-images="[&quot;/Content/banner/观点.jpg&quot;]" class="hero-slideshow-wrapper hero-slideshow-normal">
                <!--加载中图标-->
                <div class="slider-spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>

                <!--banner图文字-->
                <div class="container" style="padding-top: 23%; padding-bottom: 10%;color:#fff">
                    <div class="hero__content hero-content-style1" style="max-height:80%">
                        <h2 class="hero-large-text"></span></h2>
                    </div>
                </div>
            </section>

            <div class="content">
                <!--咨询服务-->
                <section v-for="info in listInfo " :id="info.id" class="section-about onepage-section">
                    <div class="container section-padding" >
                        <div class="section-title-area">
                            <h2 class="section-title">{{info.title}}</h2>
                        </div>
                        <div class="service-content">
                            <p style="line-height: 1.75em; text-indent: 0em;"><span style="font-size: 16px;">{{info.desc}}</span></p><p><br/></p>
                        </div>
                    </div>
                </section>
                }
            </div>
        </main>


    </div>
    <!-- end 中间内容 -->
    <!--底部-->
    <footer class="site-footer">
        <div class="footer-connect">
            <div class="container">
                <div class="row">
                    <div class="footer-left col-sm-8" style="z-index:9999;">
                        <dl v-for="list in listBottom">
                            <dt>
                                <a  v-on:click="changeHtmlInfo(list,null)">{{list.name}}</a>
                            </dt>
                            <dd v-for="list1 in list.infos">
                                <a  v-on:click="changeHtmlInfo(list,list1)">
                                    {{list1.title}}
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <div class="footer-left col-sm-4">

                            <div class="share col-sm-5" style="text-align:center;margin:15px">
                                <img style="margin:0 auto;display:block" :src="'/kaptcha/'+setting.filePath" />
                                {{setting.name}}
                            </div>
                        </div>
                        <div class="ServiceHotline" style="font-weight:bold;font-size:18px">{{setting.descs[0]}}</div>
                    </div>
                </div>
            </div>
        </div>
        <section class="copyright" style="font-size:0.75em;color:#ccc">{{setting.descs[1]}}</section>
    </footer>
    <!--end 底部-->
</div><!-- #page -->
<div id="notsupport" style="display:none; text-align:center;"><img src="/newStatic/picture/notsupport.jpg" />很抱歉，本网站不支持IE8 及以下版本的IE浏览器</div>
<script type="text/javascript" src="/newStatic/js/jquery-1.12.4.min.js"></script>
<script type='text/javascript' src='/newStatic/js/plugins.js'></script>
<script type='text/javascript' src='/newStatic/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/newStatic/js/isotope.pkgd.min.js'></script>
<script type='text/javascript' src='/newStatic/js/jquery.superslide.2.1.1.js'></script>
<script type='text/javascript' src='/newStatic/js/theme.js'></script>
<script type="text/javascript" src="/newStatic/js/vue.min.js"></script>
<script type="text/javascript" src="/newStatic/js/plugin.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?721d35f06ef55f9520c9c87094e876e1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>

<!--Banner和文字-->
<script type="text/javascript">
    (function () {
        var titles = JSON.parse(sessionStorage.getItem("listTop"));
        var id=getUrlParms('id');
        var path='';
        for(var j=0;j<titles.length;j++){
            if(titles[j].id==id){
                path='[&quot;/kaptcha/'+titles[j].filePath+'&quot;]';
                break;
            }
        }
        //Banner图
        var bannerDiv = document.getElementById("hero");
        var bannerIllustration =path;
        bannerDiv.setAttribute('data-images', decodeHtml(bannerIllustration));

        //Banner文字
        var bannerText = '',
            containerDiv = document.getElementById("bannerText"),
            decodeBannerText = decodeHtml(bannerText);
        if (containerDiv != null && containerDiv != undefined && decodeBannerText != '') {
            decodeBannerText = decodeBannerText.replace(new RegExp("<p>", "gm"), "").replace(new RegExp("</p>", "gm"), "");
            decodeBannerText = decodeBannerText.replace(new RegExp("<a href=", "gm"), "</p><a href=");
            containerDiv.innerHTML = containerDiv.innerHTML + decodeBannerText;
        }

        //bodyInnerHtml
        var bodyInnerHTML = document.body.innerHTML;
        document.body.innerHTML = bodyInnerHTML.replace(/\ufeff/g, '');
    })();

    function decodeHtml(s) {
        var HTML_DECODE = {
            "&lt;": "<",
            "&gt;": ">",
            "&amp;": "&",
            "&nbsp;": " ",
            "&quot;": "\"",
            "&copy;": "",
            // Add more
        };

        var REGX_HTML_ENCODE = /"|&|'|<|>|[\x00-\x20]|[\x7F-\xFF]|[\u0100-\u2700]/g;

        var REGX_HTML_DECODE = /&\w+;|&#(\d+);/g;

        var REGX_TRIM = /(^\s*)|(\s*$)/g;

        s = (s != undefined) ? s : "";
        return (typeof s != "string") ? s :
            s.replace(REGX_HTML_DECODE,
                function ($0, $1) {
                    var c = HTML_DECODE[$0];
                    if (c == undefined) {
                        // Maybe is Entity Number
                        if (!isNaN($1)) {
                            c = String.fromCharCode(($1 == 160) ? 32 : $1);
                        } else {
                            c = $0;
                        }
                    }
                    return c;
                });
    };
</script>

<!--视频-->
<script type="text/javascript">
    var videoIcon = document.getElementById("video_icon");
    var closeIcon = document.getElementById("close_Icon");
    var light = document.getElementById("light");
    var embed = document.getElementsByTagName('embed')[0];
    var video = document.getElementsByTagName('video')[0];

    //打开弹出层
    if (videoIcon != null) {
        videoIcon.onclick = function (e) {
            var point = getPointerPosition(e);  //获取鼠标点击按钮的位置，将其作为弹出层的top值
            light.style.top = point.top + "px";
            light.style.height = document.body.clientHeight * 0.9 + "px";
            embed.style.height = document.body.clientHeight * 0.86 + "px";
            document.getElementById('light').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
            //video.play();
        }
    }

    //关闭弹出层
    if (closeIcon != null) {
        closeIcon.onclick = function () {
            document.getElementById('light').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
            //video.pause();
        }
    }

    //暂停/播放
    if (video != null) {
        video.onclick = function () {
            if (video.paused)
                video.play();
            else
                video.pause();
        }
    }

    //获取鼠标点击位置
    function getPointerPosition(e) {

        var obj = e.currentTarget || document.activeElement;
        var position = {
            left: e.pageX || (e.clientX + (document.documentElement.scrollLeft || document.body.scrollLeft)),
            top: e.pageY || (e.clientY + (document.documentElement.scrollTop || document.body.scrollTop))
        };
        return position;
    }
</script>
<script>
    var url;
    var id=getUrlParms('id');
    var info=getUrlParms('info');
    var vm = new Vue({
        el:"#page",
        data:{
            listTop:[],
            listBottom:[],
            listInfo:[],
            setting:'',
            titleName:'',
        },
        created:function () {
            this.dataTableList();
            this.setting = JSON.parse(sessionStorage.getItem("setting"));
            this.listTop = JSON.parse(sessionStorage.getItem("listTop"));
            this.listBottom = JSON.parse(sessionStorage.getItem("listBottom"));
        },
        mounted:function () {

        },
        methods:{
            dataTableList:function () {
                let dataStr = {
                    id:id
                };
                url="/web/list";
                ajax.data("post",true,url,"json",dataStr,function (data) {
                    vm.listInfo=data.data.infos[0].infos;
                    vm.titleName=data.data.title.desc
                    vm.$nextTick(function () {
                        for(var j=0;j<vm.listInfo.length;j++){
                            if (info!=null){
                                if (vm.listInfo[j].id==info){
                                    var infoId='#'+info
                                    document.getElementById(info).scrollIntoView(true);
                                }
                            }
                        }
                    })
                })
            },
        }
    })
    if (info!=null){
        toInfoPage(info);
    }
</script>