<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.bus.dao.InfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.bus.model.Info">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="icon_path" property="iconPath" />
        <result column="content" property="content" />
        <result column="desc" property="desc" />
        <result column="hot" property="hot" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="modify_user" property="updaeUser" />
        <result column="modify_time" property="updateTime" />
        <result column="is_menu" property="isMenu" />
        <result column="sort_order" property="sortOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, title, icon_path, content, desc, hot, create_user, create_time, modify_user, modify_time, is_menu, sort_order
    </sql>
    <!--统计点击量-->
    <update id="updateInfoHot" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE web_info
            SET hot=hot+#{item.hot}
            WHERE id=#{item.id}
        </foreach>
    </update>
</mapper>
