@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#select id="type" name="类型" underline="true">
                            @for(item in titles){
                            <option value="${item.id}" >
                                ${item.name}
                            </option>
                            @}
                            </#select>
                            <#input id="title" name="标题" underline="true"/>

                            <!--<#input type='file'  id="file" name="上传图标" underline="true"/>-->
                            <#input id="desc" name="简介" underline="true"/>

                </div>

                <div class="col-sm-6">
                    <#select id="isMenu" name="0不在底部显示 1在底部显示" underline="true">
                    <option value="0">0</option>
                    <option value="1">1</option>
                </#select>
                    <#input id="sortOrder" name="顺序" underline="true"/>
                    <#avatar id="iconPath" name="图片" underline="true"/>
                    <div id="summernote" ></div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InfoInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/bus/info/info_info.js"></script>
<<script type="text/javascript">
    $('#summernote').summernote( { placeholder: '请输入内容', height: 300 });
    $('#summernote').summernote('code','8416465');
    function tijiao () {
        var code1= $('#summernote').summernote('code');
        console.log(code1)
        code1= $('#summernote').val();
        console.log(code1)
    }

    var markupStr=$("#content").html(); $('#summernote').summernote( {
        height: 300,
    });

</script>

@}
