@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="" value="${item.id}" type='hidden' />
                            <#select id="type" name="类型" underline="true">
                            @for(i in titles){
                            <option value="${i.id}"
                                    @if(item.type==i.id){
                                    selected
                                    @}

                            >
                                ${i.name}
                            </option>
                            @}
                            </#select>
                            <#input id="title" name="内容名字" value="${item.title}" underline="true"/>
                            <#avatar id="iconPath" name="替换图片" underline="true" avatarImg="${item.iconPath}"/>
                            <#input id="content" name="文本" value="${item.content}" underline="true"/>
                            <#input id="desc" name="简介" value="${item.desc}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <!--<#input id="createUser" name="创建人" value="${item.createUser}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="modifyUser" name="修改人" value="${item.modifyUser}" underline="true"/>
                            <#input id="modifyTime" name="修改时间" value="${item.modifyTime}" underline="true"/>-->
                    <#select id="isMenu" name="0不在底部显示 1在底部显示" underline="true">
                    <option value="0"
                            @if(item.isMenu==0){
                            selected
                            @}
                    >
                       0
                    </option>
                    <option value="1"
                            @if(item.isMenu==1){
                            selected
                            @}

                    >
                        1
                    </option>
                </#select>
                            <#input id="sortOrder" name="顺序" value="${item.sortOrder}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InfoInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/bus/info/info_info.js"></script>
@}
