@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form  method="post" id="forms" enctype="multipart/form-data">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="" value="${item.id}" type='hidden' />
                            <#input id="type" name="所属类型" value="${item.type}" underline="true"/>
                            <#input id="title" name="内容名字" value="${item.title}" underline="true"/>
                            <img width="100px" height="100px" src="${item.iconPath}" underline="true">
                            <#input type='file'  id="file" name="替换图片" underline="true"/>
                            <#input id="content" name="文本" value="${item.content}" underline="true"/>
                            <#input id="desc" name="简介" value="${item.desc}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <!--<#input id="createUser" name="创建人" value="${item.createUser}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="modifyUser" name="修改人" value="${item.modifyUser}" underline="true"/>
                            <#input id="modifyTime" name="修改时间" value="${item.modifyTime}" underline="true"/>-->
                            <#input id="isMenu" name="0不在底部显示 1在底部显示" value="${item.isMenu}" underline="true"/>
                            <#input id="sortOrder" name="顺序" value="${item.sortOrder}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InfoInfoDlg.close()"/>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<script src="${ctxPath}/static/modular/bus/info/info_info.js"></script>
@}
