@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <form  method="post" id="forms" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="" value="${item.id}" type='hidden' />
                    <#input id="name" name="标题名字" value="${item.name}" underline="true"/>
                    <#select id="pid" name="父标题" underline="true">
                    <option value="0">
                        一级目录
                    </option>
                    @for(i in titles){
                    @if(i.id==item.pid){
                    <option value="${i.id}" selected>
                        ${i.name}
                    </option>
                    @}
                    @if(i.id!=item.pid){
                    <option value="${i.id}">
                        ${i.name}
                    </option>
                    @}
                    @}
                </#select>

                    <#avatar id="filePath" name="图片" underline="true" avatarImg="${item.filePath}"/>
                    <#input id="sortOrder" name="排序" value="${item.sortOrder}" />
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TitleInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TitleInfoDlg.close()"/>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/bus/title/title_info.js"></script>
@}
